# Environment Variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Node
node_modules/
dist/

# Database
*.sqlite3
*.db

# Logs
*.log

# IDE
.vscode/
.idea/
