# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env

# Database
*.sqlite3
*.db

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
